li{
    list-style: none;
}
body{
    background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}



/*General button styling*/
.request-btn{
    background-color: #fabc52;
    color: black;
    border: none;
    padding: 8px;
    width: 50%;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 10px;
}
.services-bg img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.services{
    overflow: hidden;
}
.services-bg{
    position: relative;

}
.services-overlay{
    position: absolute;
    top: 0;
    height: 90vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    left: 0;
}
.services-content{
    color: white;
    width: 80%;
    margin: 300px auto;
}
.services-content h1{
    font-size: 32px;
}
.sections{
    color: white;
    width: 80%;
    margin:40px auto;
}
/* Buttons */
.list-container{
    display: flex;
}
.services-content p{
    font-size: 20px;
}
.list-container .list-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc;
    color: #1b1a1a;
    text-align: center;
    flex-direction: column;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 70%;
    margin: 20px 0;
}
/* Advert */
.advert-img{
    width: 100%;
}
.advert-section img{
    width: 100%;
}

.body-props h1{
    font-size: 25px;
}

/* Educational */
.education-section img{
    width: 100%;
}

.second .list-item{
    padding: 20px;
}

/* Consulting */
.list-container {
    justify-content: flex-start;
    gap: 12px;
  }

.education-section .list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  color: #1b1a1a;
  text-align: center;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 20px 0;
  padding: 20px 40px;
}

.list-item--social-media {
  width: 284px;
  height: 64px;
}

.list-item--content-creation {
  width: 200px;
  height: 64px;
  padding-left: 8px;
  padding-right: 8px;
}

.list-item--audience-engagement {
  width: 100%;
  max-width: 249px;
  height: 64px;

}
/* Digital Services */
.digital{
display: flex;
flex-direction: column-reverse;
}

/* international */
.international{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 100px;
}
@media screen and (min-width: 1120px){
    .request-btn{
        width: 30%;
    }
.services-content h1{
   font-size: 40px !important;
}
.services-content p{
    width: 60%;
    font-size:25px;
}
/* Advert */
.sections{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 80px;
    align-items: center;
    margin-bottom: 30px;
}
.advert-content{
    width: 50%;
}
/* Consulting */
.content-wrapper{
    display: flex;
    flex-direction: row-reverse;
}
/* Digital */
.digital-content{
    width: 50%;
}
/* Event */
.event-content{
    width: 50%;
}
.event-content .list-item{
    width: 30%;
}
/* Eduction */
.education-wrapper{
    display: flex;
    flex-direction: row-reverse;
}
.text-container{
    width: 50%;
}
/* International */
.international{
    display: flex;
    flex-direction: row;
}
.international-content{
    width: 50%;
}
/* Digital Services */
.digital{
    flex-direction: row-reverse;
    }
    
}