body {
  background-color: black;
  color: white;
}
p {
  font-size: 18px;
}
h1,
h2 {
  font-size: 30px !important;
}
h3 {
  font-size: 28px !important;
}
.background-left {
  color: white;
  height: 80vh;
  display: none;
  background: linear-gradient(
    45deg,
    #744f7f,
    #aa6989,
    #56377d,
    #ab5d8b,
    #6b5e73,
    #ae5e72,
    #573c92,
    #f04391
  );
}
.left-content {
  padding: 180px 40px;
}
.left-content h2 {
  font-size: 32px;
}

.left-content button {
  outline: none;
  background-color: #fabc52;
  padding: 8px 15px;
  text-align: center;
  border-radius: 40px;
  border: none;
  transition: 0.3s ease;
  margin-top: 20px;
  font-size: 20px;
}
.left-content button:hover {
  background-color: transparent;
  border: 2px solid #fabc52;
  color: white;
}
.left-content .bg-btn {
  text-decoration: none;
  color: black;
}
button {
  font-size: 16px !important;
}
.background-left h2 {
  font-weight: 500;
  margin-top: 30px;
}
.background-bottom {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#e3e2e2, #7d7c7c);
}
.background-bottom {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.express {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 15px;
}

.express p {
  color: #000;
}

.express-link {
  display: flex;
  flex: 0 0 auto;
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  align-items: flex-end;
}

.express img {
  margin-right: 8px;
}
.background-right {
  display: block;
}
.background-right img {
  width: 100%;
  height: 90vh;
  position: relative;
  background-size: cover;
}
.right-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  top: 72px;
  height: 90vh;
}
.right-overlay-content {
  padding: 270px 30px;
}
.right-overlay-content h2 {
  font-size: 32px;
}

.right-overlay-content button {
  outline: none;
  background-color: #fabc52;
  padding: 10px 25px;
  text-align: center;
  border-radius: 40px;
  border: none;
  transition: 0.4s ease;
  font-size: 20px;
}
.right-overlay-content button:hover {
  background-color: transparent;
  border: 2px solid #fabc52;
  color: white;
}
.right-overlay-content button:hover .bg-btn {
  color: #fabc52;
}
.right-overlay-content .bg-btn {
  text-decoration: none;
  color: black;
  transition: 0.4s ease;
}

/* Know us */
.know-us {
  overflow: hidden;
  width: 80%;
  margin: 30px auto;
}
.know-us-left {
  display: flex;
  align-items: center;
}
.know-us-right {
  margin-top: 30px;
}
.know-us-right h3 {
  font-size: 32px;
  margin-bottom: 20px;
}
.know-us-left p {
  font-size: 16px;
}
.know-us-right button {
  outline: none;
  background-color: #fabc52;
  padding: 8px 15px;
  text-align: center;
  border-radius: 40px;
  border: none;
  transition: 0.3s ease;
  margin-top: 20px;
  font-size: 20px;
}
.know-us-right button:hover {
  background-color: #969191;
}
.know-us-right .bg-btn {
  text-decoration: none;
  color: black;
}
.know-us-left img {
  margin-bottom: 20px !important;
  width: 100%;
}
/* Yellow mail */
/* .yellow-mail-angel {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-bottom: 170px solid rgb(230, 247, 166);
} */
.overlay-email-input {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100vh;
  z-index: 9999;
}
.overlay-email-input h3 {
  position: absolute;
  right: 20px;
  cursor: pointer;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  width: 30px;
  text-align: center;
}
.overlay-email-input .subscribe {
  background-color: black;
  width: 80%;
  height: 300px;
  margin: 220px auto;
  position: relative;
}
.overlay-email-input form {
  padding-top: 90px;
  margin: 50px;
}
.overlay-email-input input {
  width: 90%;
  margin-top: 10px;
  color: white;
}
.overlay-email-input button {
  margin-top: 20px;
  width: 99%;
  background-color: #fabc52;
  color: black;
  border-radius: 8px;
  font-size: 17px;
}

.yellow-mail-content {
  width: 80%;
  margin: 30px auto;
}
.yellow-mail-left button {
  outline: none;
  background-color: #fabc52;
  padding: 8px 15px;
  text-align: center;
  border-radius: 40px;
  border: none;
  transition: 0.3s ease;
  font-size: 20px;
}
.yellow-mail-left button:hover {
  background-color: #969191;
}
.yellow-mail-left .bg-btn {
  text-decoration: none;
  color: black;
}
.yellow-mail-right img {
  width: 100%;
}
.yellow-mail {
  overflow: hidden;
  position: relative;
}
.yello-mail-bottom {
  width: 70%;
  margin: auto;
}
.yellow-mail-bottom-card {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  background-color: #444444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  color: white;
}
.yellow-mail-icon {
  margin-top: 18px;
  background-color: #e6c837;
  border-radius: 6px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 5px;
}

/* Radio section */
.radio {
  overflow: hidden;
  width: 80%;
  margin: 70px auto;
}
.radio-right img {
  width: 100%;
}
.radio-left button {
  outline: none;
  background-color: #fabc52;
  padding: 8px 15px;
  text-align: center;
  border-radius: 40px;
  border: none;
  transition: 0.3s ease;
  font-size: 20px;
}
.radio-left button:hover {
  background-color: #969191;
}
.radio-left .bg-btn {
  text-decoration: none;
  color: black;
}

/* Social media */
.social-media {
  overflow: hidden;
  width: 80%;
  margin: auto;
}
.social-media-right img {
  width: 100%;
}
.social-media-left h3 {
  width: 60%;
}
.social-lists p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.social-lists img {
  width: 20px;
}
.social-media-left button {
  outline: none;
  background-color: #fabc52;
  padding: 8px 15px;
  text-align: center;
  border-radius: 40px;
  border: none;
  transition: 0.3s ease;
  margin: 20px 0;
  font-size: 20px;
}
.social-media-left button:hover {
  background-color: #969191;
}
.social-media-left .bg-btn {
  text-decoration: none;
  color: black;
}
.social-media-right {
  margin-top: 30px;
}
.social-media-right img {
  width: 100%;
}

/* Youtube Section */
.youtube {
  width: 80%;
  margin: 40px auto;
}
.youtube-up {
  text-align: center;
  margin: 20px 0;
}

.youtube-down {
  position: relative;
}
.youtube-down img {
  width: 100%;
}
.play {
  position: absolute;
  top: 60px;
  font-size: 40px;
  left: 150px;
}
.play-icon {
  color: white;
}
.youtube-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.youtube button {
  outline: none;
  border: 1px #fabc52 solid;
  padding: 8px 20px;
  text-align: center;
  border-radius: 40px;
  transition: 0.4s ease;
  font-size: 20px;
}

.youtube .link-btn2,
.link-btn1 {
  text-decoration: none;
}
.youtube-btn .link-btn1 {
  color: black;
}
.youtube-btn .link-btn2 {
  color: #fabc52;
}
.youtube-btn .btn1 {
  background-color: #fabc52;
}
.youtube-btn .btn2 {
  border: 2px solid #fabc52;
  background-color: transparent;
}

/* Yellow blog */
.yellow-blog {
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
}
.yellow-blog-content p {
  font-size: 16px !important;
  margin-top: -10px;
  opacity: 0.8 !important;
}
.yellow-blog-content h3 {
  font-size: 20px !important;
}
.yellow-blog-content img {
  width: 100%;
}
.yellow-blog p {
  font-size: 15px;
}
.yellow-blog-right img {
  margin-top: 20px;
}
.see-more {
  text-align: center;
  display: block;
  color: black !important;
  margin-top: 20px;
  text-decoration: none;
  transition: 0.3s ease;
}
.blog-link {
  color: #4ca3ea;
}
.see-more:hover {
  text-decoration: underline;
  color: blue;
}
/* social-platform */
.social-platform {
  position: relative;
}
.social-platform .connect-bg {
  width: 100%;
  object-fit: cover;
}
.social-platform-icons {
  display: flex;
  gap: 10px;
  position: relative;
  top: -140px;
  justify-content: center;
}
.social-platform-icons img {
  width: 20px;
}
.social-platform-icons .social-icon-link {
  transition: 0.4s ease;
}
.social-platform-icons .social-icon-link:hover {
  transform: translateY(-7px);
}

/* Word on the street */
.wots {
  width: 80%;
  margin: auto;
}

.wots-content {
  overflow: hidden;
  padding: 20px;
}

.splide1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splide__pagination__page {
  display: flex !important;
  gap: 80px !important;
  margin-top: 30px;
}
.splide__arrow {
  display: none !important;
}
.wots-left,
.wots-right {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.wots-left img,
.wots-right img {
  max-width: 100%;
  height: auto;
}
.wots .wot-text {
  background-color: #f0ce91 !important;
  color: #000;
  border-radius: 5px;
  font-weight: 400;
  text-align: left;
  padding: 10px !important;
}
.wot-name {
  border-radius: 8px;
  border: 1px solid #db2a6b;
  width: 30%;
  padding: 8px;
  text-align: center;
}

/* Additional styles for larger screens */
@media (min-width: 600px) {
  /* Background right */
  .right-overlay {
    height: 92.4vh;
  }
  .right-overlay-content {
    padding: 350px 30px;
  }
  .right-overlay-content h2 {
    font-size: 50px !important;
  }
  .right-overlay-content p {
    font-size: 30px;
    width: 70%;
  }

  /* Subscribe overlay*/
  .overlay-email-input label {
    font-size: 25px;
  }
  .splide1 {
    flex-direction: row;
    justify-content: space-between;
  }

  .wots-left,
  .wots-right {
    width: 48%;
    margin-bottom: 0;
  }
}

.wots h3 {
  text-align: center;
}
.wots img {
  width: 100%;
  object-fit: fill;
  height: 300px;
  margin-bottom: 20px;
}
.wots .wot-text {
  background-color: #f0ce91;
  padding: 20px 20px 0;
  margin: 0;
}

.splide__pagination__page.is-active {
  background-color: #fabc52 !important;
}

@media screen and (min-width: 1120px) {
  p {
    font-size: 18px !important;
  }

  .background {
    display: flex;
  }
  .homePage {
    height: 80vh;
  }
  button {
    font-size: 20px;
  }
  .background-right {
    width: 50%;
    display: block;
  }
  .right-overlay {
    display: none;
  }
  .background-left {
    width: 50%;
    height: auto;
    display: block;
  }
  .background-right img {
    width: 100%;
    height: 83.5vh;
    object-fit: cover;
  }
  .left-content {
    width: 80%;
    margin: -20px 90px;
    width: 70%;
  }
  .left-content h2 {
    font-size: 45px;
  }
  .express {
    justify-content: center;
  }

  /* Know us section */
  .know-us {
    display: flex;
    margin-top: 40px;
    gap: 90px;
  }
  .know-us-right {
    width: 50%;
    margin-top: 100px;
  }
  .know-us-right h3 {
    font-size: 30px;
  }
  .know-us-right button {
    padding: 8px 25px;
  }
  .know-us-right p {
    width: 80%;
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 20px;
  }
  .know-us-left {
    gap: 40px;
    width: 50%;
  }
  .know-us-icons {
    display: block !important;
  }

  /* Yellow mail */
 
  .overlay-email-input .subscribe {
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
  }
  .overlay-email-input input {
    width: 91.5%;
  }
  .yellow-mail-content {
    display: flex;
    flex-direction: row-reverse;
  }
  .overlay-email-input form button {
    width: 100%;
  }
  .yellow-mail-left {
    width: 50%;
    margin-top: 100px;
  }
  .yellow-mail-left h3 {
    font-size: 30px;
  }
  .yellow-mail-left p {
    width: 80%;
    font-size: 16px;
    opacity: 0.8;
  }
  .yello-mail-bottom {
    display: flex;
    gap: 20px;
  }

  /* Radio section */
  .radio {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    flex-direction: row-reverse;
  }
  .radio-left {
    width: 50%;
    margin-top: 40px;
  }
  .radio-left h3 {
    font-size: 30px;
  }
  .radio-left p {
    width: 80%;
    font-size: 16px;
    opacity: 0.8;
  }
  .radio-right {
    width: 50%;
  }
  .radio-left button {
    padding: 8px 25px;
    text-align: center;
  }

  /* Social Media */
  .social-media {
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 50px;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
  }
  .social-media-left {
    width: 50%;
    margin-top: 90px;
  }
  .social-media-left h3 {
    width: 80%;
    margin-bottom: 40px;
    font-size: 30px;
  }
  .social-media-left button {
    padding: 8px 25px;
    text-align: center;
  }
  .youtube-up h3 {
    font-size: 40px;
  }
  .youtube-up p {
    width: 50%;
    font-size: 20px !important;
    margin: 20px auto;
  }

  .social-media-right {
    width: 50%;
    margin-top: 0;
  }
  .media-right-icon {
    width: 300px !important;
    height: 150px;
    object-fit: cover;
  }
  .youtube-icon {
    top: -270px !important;
  }
  /* Youtube */
  .youtube button {
    padding: 8px 25px;
    text-align: center;
  }
  .play {
    top: 260px;
    font-size: 60px;
    left: 580px;
  }

  /* Social media2 podcast2 */
  .podcast2 .social-media-left {
    width: 50%;
  }
  .podcast2 .social-media-left p {
    opacity: 0.8;
  }
  /* Yellow blog section */
  .yellow-blog-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  .yellow-mail-left button {
    padding: 8px 25px;
    text-align: center;
  }
  .yellow-blog h3 {
    font-size: 30px;
  }
  .yellow-blog p {
    font-size: 16px;
    opacity: 0.8;
  }
  .blog-intro {
    width: 40%;
  }
  .yellow-blog-left {
    margin-top: 20px;
  }
  .yellow-blog-right h3 {
    font-size: 25px;
  }
  .yellow-blog-right img {
    width: 350px;
    height: 150px;
    object-fit: cover;
  }
  .right1,
  .right2,
  .right3 {
    display: flex;
    gap: 30px;
  }
  .right1-text,
  .right2-text,
  .right3-text {
    width: 80%;
  }
  /* Social Platform*/
  .social-platform img {
    height: 700px;
  }
  .social-platform-icons {
    top: -400px;
  }
  .social-platform-icons img {
    width: 50px;
    height: 50px;
  }
  /* Word on the street */
  .wots-content {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
  }
  .wots-left {
    display: flex;
    gap: 10px;
  }
  .wots-right {
    display: flex;
    gap: 10px;
  }
  .wots img {
    width: 50%;
  }
  .splide1 {
    display: flex;
    gap: 10px;
    margin-bottom: 150px;
    width: 100%;
  }
  .splide__pagination__page {
    position: relative;
    top: -55px;
  }
  .splide__arrow {
    position: absolute;
    top: 410px;
    left: 38%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10;
    display: flex !important;
  }

  .splide__arrow--prev {
    margin-right: 30px;
  }

  .splide__arrow--next {
    margin-left: 250px;
  }
  .wots .wot-text {
    background-color: #f0ce91;
    padding: 40px 20px 0;
    margin: 0;
    height: fit-content;
  }
}
